src/xsd/ServiceBanque.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ServiceBanque" xmlns:tns="http://www.example.org/ServiceBanque" elementFormDefault="qualified">
<element name="Banqueservice"><!-- -->
<complexType>
<sequence>
<element name="conversion" type="tn:conversiontype">
</element>
</sequence>
</complexType>
</element>
<complexeType name="conversiontype">
<sequence>
<element name="moontant" type="double">
</element>
</sequence>
</complexeType>
</schema>